@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: rgba(64, 255, 255, 0.482);
    color: rgb(50, 50, 50);
    line-height: 1.6;
}
div{
    display: flex;
    flex-wrap: row wrap;
    justify-content: space-between;
    align-items: center;
}
main{
    flex: auto;
    text-align: justify;
    margin:  10px auto ;
    background-color: white;
    padding: 20px;
    width: 90vw;
    height: auto;
    border-radius: 20px;
    box-shadow: 2px 2px 2px black;
}
header{
    flex: auto;
    background-color: rgb(66, 94, 121);
    color: white;
    padding: 10px;
    margin-bottom: 20px;
}
i#burguer{
    display: block;
    color: white;
    padding: 10px;
    text-align: center;
   background-color: rgb(69, 69, 69);
    cursor: pointer;
}
i#burguer:hover{
    background-color: rgb(37, 37, 37);
    border-radius: 20px;
}
menu{
    
    display:block;
    margin: 5px;
    padding: 10px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    text-align: center;
}
a:hover {
    text-decoration: none;
    background-color: rgb(90, 90, 90);
    border-radius: 20px;
    color: white;
}
a{
    margin: 10px;
    color: white;
    text-decoration: none;
    text-align: center;
}
li{
    text-decoration: none;
    padding: 5px;
    margin: 10px auto ;
    background-color: rgb(0, 0, 0);
    width: 100px;
    border-radius: 10px;
}