@charset "UTF-8";
/* demais dispositivos */
@media screen and (min-width: 600px) {
    img#celular{display: none;}
    img#tablet{display: block;}
}               
/* typical device breakpoint 
pequenas telas: até 575px
celular: até 768 px
tablet: até 991px
pc: até 1399px
tv: acima de 1400px
*/
@media print{

}
@media screen and (min-width: 768px) and (max-width: 991px) {
    body{
        background-image: url(../../imagens/imagens/back-tablet.jpg);
    }
    img#tablet{display: block;}
    img#print{display: none;}
}
@media screen and (min-width: 992px) and (max-width: 1399px) {
    body{
        background-image: url(../../imagens/imagens/back-pc.jpg);
    }
    img#print{display: none;}
    img#pc{display: block;}
}
@media screen and (min-width: 1400px) {
    body{
        background-image: url(../../imagens/imagens/back-tv.jpg);
    }
    img#pc{display: none;}
    img#tv{display: block;}
}
