@charset "UTF-8";
/* demais dispositivos */
    
/* typical device breakpoint 
pequenas telas: até 575px
celular: até 768 px
tablet: até 991px
pc: até 1399px
tv: acima de 1400px
*/
@media print{
    *{
    font-family: 'Courier New', Courier, monospace;
    }
    main,h1{
    color: black;
    text-shadow: none;
    }
    main{
    border: 2px solid black;
    }
    body{
        background-image: url(../../imagens/imagens/back-print.jpg);

    }img#celular{display: none;}
img#tablet{display: none;}
img#print{display: block;}
img#pc{display: none;}
img#tv{display: none;}

}
@media screen and (min-width: 768px) and (max-width: 991px) {
    body{
        background-image: url(../../imagens/imagens/back-tablet.jpg);
        
    }
    main{
    width: 500px;
    }
   img#celular{display: none;}
img#tablet{display: block;}
img#print{display: none;}
img#pc{display: none;}
img#tv{display: none;}

}
@media screen and (min-width: 992px) and (max-width: 1399px) {
    body{
        background-image: url(../../imagens/imagens/back-pc.jpg);
    }
    main{
    width: 600px;
    }
   img#celular{display: none;}
img#tablet{display: none;}
img#print{display: none;}
img#pc{display: block;}
img#tv{display: none;}

}
@media screen and (min-width: 1400px) {
    body{
        background-image: url(../../imagens/imagens/back-tv.jpg);
    }
    main{
    width: 700px;
    }
    img#celular{display: none;}
img#tablet{display: none;}
img#print{display: none;}
img#pc{display: none;}
img#tv{display: block;}

}
