@charset "UTF-8";
/* versao mobile first */
* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 1.3m;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    font-size: 2m;
    margin-top: 20px;
    color: white;
    text-shadow: 2px 2px 2px black;
}

img {
    width: 100%;
    max-width: 100px;
    height: auto;
}

html{
    height: 100vh;
}
body{
    background-image: url(../../imagens/imagens/back-phone.jpg);
    background-repeat: no-repeat;
    background-color: black;
    background-size: cover;
    background-position: center center;
}
main{
    background-color: rgba(255, 255, 255, 0.778);
    border-radius: 10px;
    margin: auto;
    padding: 10px;
    width: 90vw;
}
img{
    display: block;
    margin: auto;
}
img#celular{display: block;}
img#tablet{display: none;}
img#print{display: none;}
img#pc{display: none;}
img#tv{display: none;}
