@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #f5d59d;
    color: #393939;
    line-height: 1.6;
    
}
main{
    text-align: justify;
    margin: 10px auto ;
    background-color: white;
    width: 90vw;
    height: auto;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 2px 2px 2px black; 
}
i#burguer{
    display: block;
    color: white;
    padding: 10px;
    text-align: center;
    background-color: rgb(218, 161, 56);
    cursor: pointer;
    
}
i#burguer:hover{
    background-color: rgb(255, 179, 0);
    border-radius: 10px;
    color: black;
}
header{
    background-color: rgb(218, 161, 56);
    margin-bottom: 20px;
    
}
a:hover{
    
    text-decoration: underline;
    background-color: rgb(255, 179, 0);
    border-radius: 10px;
    
}
menu {
    display: none;
    margin: 2px;
    padding: 10px;
    background-color: rgb(255, 242, 207);
    color: rgb(0, 0, 0);
    text-decoration: none;
    text-align: center;
   
}
h1{
    text-align: center;
    padding: 10px;
}
a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-align: center;
}
