@charset "UTF-8";
/*Estilo  geral*/
*{
margin: 0px;
padding: 0px;
font-family: Arial, Helvetica, sans-serif;
}
html, body{
    height: 100%;
    width: 100%;
    background-color: rgb(46, 46, 46);
}
h1{
color: white;
text-shadow: 3px,3px, 0px, black;
padding: 10px;
}