@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    line-height: 1.6;
    width: 100vw;
    height: 100vh;
    font-size: 1em;
}
h1{
    text-align: center;
    margin: 20px;
    margin-bottom: 20px;
}
.aa{
    text-align: center;
    margin: 20px;
    margin-bottom: 20px;
}
p{
    line-height: 1.6;
    text-align: justify;
    margin-bottom: 20px;
}
section{
    background-color: rgba(186, 186, 186, 0.777);
    display: flex;
    flex-flow: column nowrap;
}
article#media-text{
    display: flex;
    flex-flow: row wrap-reverse;
    justify-content: space-around;
    align-items: center;
}
article#text-media{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}
article > div#item1, article > div#item2{
    flex: 1 1 500px;
}
article > div#imagem1, article > div#imagem2{
    flex: 1 0 500px;
}
