@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    line-height: 1.6;
    width: 100vw;
    height: 100vh;
    font-size: 1em;
}
h1{
    text-align: center;
    margin: 20px;
    margin-bottom: 20px;
}
.aa{
    text-align: center;
    margin: 20px;
    margin-bottom: 20px;
}
p{
    line-height: 1.6;
    text-align: justify;
    margin-bottom: 20px;
}
section{
    background-color: rgba(186, 186, 186, 0.777);
}
